<div>
    <h4>
        Validation By Patteren
    </h4>
</div>
<hr>
<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="evtSubmit()">
        <div class="form-group">
            <!-- <div class="col-md-12 row">
                <div class="col-md-6"> -->
            <input [formControlName]="'userPhone'" type="text" class="form-control"
                [ngClass]="{'PhoneValid': userForm.get('userPhone').invalid
                 && userForm.get('userPhone').touched}">
            <small *ngIf="userForm.get('userPhone').touched && userForm.get('userPhone').errors?.pattern">
                Please Enter Phone Patteren (Ex : +91-0123456789)
            </small>
            <!-- </div>
            </div> -->
        </div>
        <div class="form-group">
            <!-- <div class="col-md-4 row"> -->
            <button class="btn btn-primary">Submit</button>
            <!-- </div> -->
        </div>

    </form>
</div>