<div>
    <h4>
        Custom Validator Template Driven Approach
    </h4>
</div>
<hr>
<!-- <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="evtSubmit()">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-8">
                    <input [formGroupName]="'userName'" type="text" class="form-control">
                </div>
                <small *ngIf="userForm.get('userName').errors?.phoneNumberInvalid 
                   && userForm.get('userName').errors?.touched">
                </small>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div> -->

<!-- <hr> -->

<div class="container">
    <form>
        <div class="form-group">
            <input [ngClass]="{'validation': 
            phoneControl.touched && phoneControl.errors?.phoneNumberInvalid}" type="text" class="form-control col-md-7"
                name="phone" [(ngModel)]="phone" #phoneControl="ngModel" phoneValidateDirective>
            <small *ngIf="phoneControl.touched && phoneControl.errors?.phoneNumberInvalid">
                Please Enter 10 digits.
            </small>
        </div>

        <div class="form-group">
            <input name="Password" placeholder="Password" [ngClass]="{'validation': 
            PasswordControl.touched && PasswordControl.invalid}" type="text" class="form-control col-md-7"
                [(ngModel)]="password" #PasswordControl="ngModel" required>
            <small *ngIf="PasswordControl.touched && PasswordControl.invalid">
                Please Enter Password
            </small>
        </div>

        <!-- Difference b/w appPasswordChecker and [appPasswordChecker] -->
        <div class="form-group">
            <input [ngClass]="{'validation': 
            confirmPasswordControl.touched && confirmPasswordControl.errors?.notMatch}" type="text"
                class="form-control col-md-7" name="confirmPassword" [(ngModel)]="confirmPassword"
                #confirmPasswordControl="ngModel" [appPasswordChecker]="password">
            <small *ngIf="confirmPasswordControl.touched && confirmPasswordControl.errors?.notMatch">
                Confirm Password and Password Should be same
            </small>
        </div>


        <div class="form-group">
            <input [ngClass]="{'validation': 
            AconfirmPasswordControl.touched && AconfirmPasswordControl.errors?.notMatch}" type="text"
                class="form-control col-md-7" name="AconfirmPassword" [(ngModel)]="AconfirmPassword"
                #AconfirmPasswordControl="ngModel" [appPasswordCheckerTwo]="[password,confirmPassword,AconfirmPassword]">
            <small *ngIf="AconfirmPasswordControl.touched && AconfirmPasswordControl.errors?.notMatch">
                Confirm Password and Password && Password three Should be same
            </small>
        </div>


        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Submit" (click)="evtSubmit()">
        </div>
    </form>
</div>
