<div>
    <h4>Single Control - Many Validations</h4>
</div>
<hr>

<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="evtSubmit()">
        <div class="form-group">
            <!--Always Return type should be boolean incase if you actuallength with minlength wo't be work-->
            <!-- <div class="col-md-12 row">
                <div class="col-sm-8"> -->
            <!-- Here invalid propery is refers to errors Object in useEmail. 
                    incase if any object is availble { 'IsExample' : null} also its gives invalid only.
                    Based on the requirement you have to provide object and null value for custom validators -->
            <input type="text" placeholder="Please Enter Email" [formControlName]="'userEmail'" class="form-control "
                placeholder="Please Enter Email"
                [ngClass]="{'InvalidEmail':userForm.get('userEmail').invalid && userForm.get('userEmail').touched}">
            <small *ngIf="userForm.get('userEmail').invalid && userForm.get('userEmail').touched">
                <b>This Message will Disapper Until All the validations will be close </b>
                <br>
            </small>
            <small *ngIf="userForm.get('userEmail').errors?.required && userForm.get('userEmail').touched">
                Please Enter Email
                <br>
            </small>
            <small *ngIf="userForm.get('userEmail').errors?.email && userForm.get('userEmail').touched">
                Please Enter valid Email Format
                <br>
            </small>
            <small *ngIf="userForm.get('userEmail').errors?.minlength
                             && userForm.get('userEmail').touched">
                Email Minlength should be 10 Charcters
                <br>
            </small>
            <small *ngIf="userForm.get('userEmail').errors?.maxlength && userForm.get('userEmail').touched">
                Email Maxlength should be 15 Charcters
                <br>
            </small>
            <small
                *ngIf="userForm.get('userEmail').errors?.IsUnwantedSpecialCharcters && userForm.get('userEmail').touched">
                Email should not contains SpecialCharcters except "@ and ."
                <br>
            </small>
            <small *ngIf="userForm.get('userEmail').errors?.IsNotValidDomain && userForm.get('userEmail').touched">
                Email should contain 'gmail.com' Domain
                <br>
            </small>
            <!-- </div>
            </div> -->
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>