<div class="container" style="margin-top: 30px;">
    <label>Login Page</label>
</div>
<div class="container">
    <form [formGroup]="schoolLoginForm">
        <div class="form-group">
            <input placeholder="School Name" type="text" class="form-control col-md-6" [formControlName]="'SchoolName'">
        </div>
        <div class="form-group">
            <input placeholder="Password" type="text" class="form-control col-md-6"
                [formControlName]="'SchoolPassword'">
        </div>
        <div class="form-group">
            <button type="button" (click)="evtSchoolLoginFormSubmit()" class="btn btn-primary">Submit</button>
            <!-- <input type="button" (click)="evtSchoolLoginFormSubmit()" class="btn btn-primary" value="submit"> -->
        </div>
    </form>
    
    {{info|async}}
</div>