<!-- <app-test-form></app-test-form> -->
<!-- path : '' , component : AppComponent , canActivate :[CanActivateGuardGuard]},{
  path : '/Reactive' , component : ReactiveFormComponent },
  {path:'/CustomValidation' , component : CustomValidationComponent},
  {path:'/Dynamic' , component : DynamicTableComponent} -->
<ul class="nav nav-tabs justify-content-center" id="TestTabs" role="tablist">
  <li class="nav-item">
    <!-- href="#template" -->
    <a class="nav-link active" id="template-tab" data-toggle="tab" routerLink="/"  role="tab" aria-controls="template"
      aria-selected="true">Template Driven Approach</a>
  </li>
  <li class="nav-item">
    <!-- href="#Reactive" -->
    <a class="nav-link" id="Reactive-tab" data-toggle="tab" routerLink="/Reactive" role="tab" aria-controls="Reactive"
      aria-selected="false">Reactive Approach</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="CustomValidations-tab" data-toggle="tab" href="#CustomValidations" role="tab"
      aria-controls="CustomValidations" aria-selected="false">CustomValidations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="DynamicTable-tab" data-toggle="tab" href="#DynamicTable" role="tab" aria-controls="contact"
      aria-selected="false">Dynamic Control</a>
  </li>
</ul>


<div class="tab-content " id="TestTabContent" style="margin-top: 20px">

  <div class="tab-pane fade show active" id="template" style="margin-top: 20px" role="tabpanel"
    aria-labelledby="template-tab">
    <app-template-approach-form></app-template-approach-form>
  </div>
  <div class="tab-pane fade" id="Reactive" role="tabpanel" aria-labelledby="Reactive-tab">
    <app-reactive-form></app-reactive-form>
  </div>
  <div class="tab-pane fade" id="CustomValidations" role="tabpanel" aria-labelledby="CustomValidations-tab">
    <app-custom-validation></app-custom-validation>
  </div>
  <div class="tab-pane fade" id="DynamicTable" role="tabpanel" aria-labelledby="DynamicTable-tab">
    <!-- <app-dynamic-table></app-dynamic-table> -->
  </div>
</div>