<ng-container *ngIf="LoadCustomers">
  <div class="bg-success">

    <app-customers (orderDetails)="customerOrderDetails($event)" [OrderInputs]="ordersData">
      <div class="orderDetails" #contentOrderDetails>
        <table class="table table-primary">
          <thead>
            <tr>
              <th>
                ProductName
              </th>
              <th>
                CustomerName
              </th>
              <th>
                Comments
              </th>
              <th>
                Order Date
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tr *ngFor="let item of Orders;let index = $index">

            <td>{{item.ProName}}</td>
            <td>{{item.CusName}}</td>
            <td>{{item.Comments}}</td>
            <td>{{item.Orderdate}}</td>

            <td>
              <input type="button" class="btn btn-primary" value="Edit" (click)="evtEditDetails(index)">
            </td>
          </tr>
        </table>
      </div>


      <div class="DynamicContent">
        <ng-template #infoCustomerTemplate>
          <p style="background-color: yellow;" class="text-info">
            Delevery Date is not Availble. We will Add soon.....
          </p>
        </ng-template>
        <ng-container #infoCustomersContainer>
        </ng-container>

      </div>

    </app-customers>
  </div>
  <div class="bg-warning">
    <app-orders (Orders)="evtOrdersData($event)">
    </app-orders>
  </div>




  <form>
    <div class="form-group">
      <input type="button" (click)="Generate()" class="btn btn-primary" value="Generate">
      you are clicking {{productsLength}} times.
    </div>
  </form>
  <app-products [clicks]="productsLength" *ngFor="let productComponent of Products;let index = $index">
    <!-- <ng-container class="MyClass">
    <div>
      <input type="button" (click)="evtAddRow()" value="AddRow" class="btn btn-primary">
    </div>
    <div class="form-group" *ngFor="let row of Rows;let index=$index">
      <input type="text" class="form-control col-md-4">
    </div>
  </ng-container> -->
    <!-- <div>
    <input type="button" (click)="evtAddRow()" value="AddRow" class="btn btn-primary">
  </div> -->
    <ng-container #contentContainer>
    </ng-container>
    <!-- *ngFor="let row of Rows;let index=$index" -->
    <ng-template #contentTemplate>
      <div class="form-group">
        <input type="text" class="form-control col-md-4" placeholder="Location" [(ngModel)]="modLocation">
      </div>
    </ng-template>
  </app-products>
</ng-container>

<!--Giving below is wrong Results-->
<!-- <div class="container">
  <input value="Generate" (click)="evtEmployeeGenerate()" class="btn btn-primary" type="button">
</div>

<app-employees *ngFor="let employee of employees ; let employeeindex = $index">
  <ng-container [class.Id] = "employees[employeeindex]" #container style="margin-bottom: 20px;"></ng-container>
  <ng-template #formTemplate>
    <form [formGroup]="NameGP">
      <div formArrayName="ENames">
        <div class="form-group" *ngFor="let item of NameGP.get('ENames')['controls'];let EIndex = index">
          <div formGroupName="{{EIndex}}" class="col-sm-12 row">
            <input type="text" class="form-control col-md-5" name="EName" formControlName="EName"
              placeholder="EnterName">
          </div>
        </div>
      </div>
      <input type="button" class="btn btn-primary" (click)="evtClick()" value="Click">
    </form>
  </ng-template>
</app-employees> -->

<app-employees></app-employees>