<div>
  <h3>Template Driven Approach</h3>

  <ul class="nav nav-tabs justify-content-center" id="TestTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="template-tab" data-toggle="tab" href="#template" role="tab"
        aria-controls="template" aria-selected="true">Template Driven Approach</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Reactive-tab" data-toggle="tab" href="#Reactive" role="tab" aria-controls="Reactive"
        aria-selected="false">Reactive Approach</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="CustomValidations-tab" data-toggle="tab" href="#CustomValidations" role="tab" aria-controls="CustomValidations"
        aria-selected="false">CustomValidations</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Contact</a>
    </li> -->
  </ul>

  <div class="tab-content " id="TestTabContent">

    <div class="tab-pane fade show active" id="template" style="margin-top: 20px" role="tabpanel"
      aria-labelledby="template-tab">
      <div class="container">
        <form name="TestForm" (submit)="SubmitTestForm(vTestForm)" #vTestForm="ngForm">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="TestId">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="TestId" name="Name" placeholder="Test Name" ngModel required
                #modName="ngModel" />
              <small id="" *ngIf="modName.invalid && modName.touched" class="form-text text-muted">Please enter Test
                Name</small>
              <small id="" *ngIf="modName.invalid && modName.touched" class="form-text text-muted">Should not be Allow
                Special
                Charcters</small>
            </div>
          </div>

          <div ngModelGroup="CommentsGroup" #CommentsGroup="ngModelGroup">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="Description">Description</label>
              <div class="col-sm-10">
                <textarea rows="3" maxlength="50" placeholder="Description" class="form-control" id="Description"
                  name="Description" ngModel required #modDescription="ngModel" placeholder="Description"
                  required></textarea>
                <small id="" *ngIf="modDescription.invalid && modDescription.touched"
                  class="form-text text-muted">Please
                  enter
                  comments</small>
                <small id="" *ngIf="modDescription.invalid && modDescription.touched"
                  class="form-text text-muted">Comment
                  should be more than 50 Charcters</small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="Relavant">Is it Relavant to Earlier Issue ? </label>
              <div class="col-sm-10">
                <div class="form-check-inline radio" *ngFor="let item of Relavants">
                  <input class="form-check-input radio" [value]="item.ID" type="radio" id="Relavant{{item.ID}}"
                    name="Relavant" ngModel required>
                  <label class="form-check-label" for="Relavant{{item.ID}}">
                    {{item.Name}}
                  </label>
                </div>
              </div>
            </div>

          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Developers">Developer</label>
            <div class="col-sm-10">
              <select name="Developer" class="form-control" required #modDeveloper="ngModel" ngModel>
                <!-- <option  placeholder="Please enter Developer" selected>Select Developer</option> -->
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Developers"> {{item.Name}} </option>
              </select>
              <small id="" *ngIf="modDeveloper.touched" class="form-text text-muted">Please enter
                Developer Name</small>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Tester">Raised By</label>
            <!-- [(ngModel)]="modTester" -->
            <div class="col-sm-10">
              <select name="Tester" class="form-control" required ngModel #Tester="ngModel">
                <!-- <option selected>Select Tester</option> -->
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Tester"> {{item.Name}} </option>
              </select>
              <small *ngIf="Tester.touched && Tester.invalid" id="" class="form-text text-muted">Please enter
                Tester Name</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Reporter">Reported To</label>
            <div class="col-sm-10">
              <select name="Reporter" class="form-control" required ngModel #Reporter="ngModel">
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Reporter"> {{item.Name}} </option>
              </select>
              <small *ngIf="Reporter.touched && Reporter.invalid" id="" class="form-text text-muted">Please enter
                Reporter Name</small>
            </div>
          </div>
          <!--  -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Logged Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" #LoggedDate="ngModel" ngModel name="LoggedDate" required>
              <small id="" *ngIf="LoggedDate.touched && LoggedDate.invalid" class="form-text text-muted">Please enter
                Logged Date</small>

            </div>
          </div>


          <!-- *ngIf="modClosedDate.touched && modClosedDate.invalid" -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Closed Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" #ClosedDate="ngModel" ngModel name="ClosedDate" required>
              <small id="" *ngIf="ClosedDate.touched && ClosedDate.invalid" class="form-text text-muted">Please enter
                Closed Date</small>
              <small id="" *ngIf="ClosedDate.touched && ClosedDate.invalid" class="form-text text-muted">Closed Date
                Should
                be greater than Logged Date</small>


            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Close with Comments</label>
            <div class="col-sm-10">
              <textarea placeholder="Enter Comment how it was resolve" rows="3" minlength="15" class="form-control"
                #CComments="ngModel" ngModel name="CComments" required></textarea>
              <small id="" *ngIf="CComments.touched && CComments.invalid" class="form-text text-muted">Please enter
                Comments </small>
              <small id="" *ngIf="CComments.touched && CComments.invalid" class="form-text text-muted">Comments Should
                be
                more than 50 Charcters</small>

            </div>
          </div>


          <div class="form-group row">
            <div class="col-3">
              <input type="button" (click)="evtDefault()" class="form-control btn-primary" value="Default" />
            </div>
            <div class="col-3">
              <button type="submit" class="form-control btn-primary">Submit</button>
            </div>
            <div class="col-3">
              <input type="button" class="form-control btn-primary" (click)="evtReset()" value="Reset">
            </div>

          </div>



        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="Reactive" role="tabpanel" aria-labelledby="Reactive-tab">
      <div class="container">
        <form name="R1TestForm" (submit)="evtRTestForm(RTestForm)" #RTestForm="ngForm">
        <!-- <form name="R1TestForm" (submit)="evtRTestForm(RTestForm)" #RTestForm="ngForm"> -->
 <!-- [formControlName] = "'RName'" -->
          <div class="form-group row" [formGroup]="RTestFormGroup" >
            <label class="col-sm-2 col-form-label" for="TestId">Name</label>
            <div class="col-sm-10">
              <input type="text" 
              class="form-control" 
              id="TestId" 
              name="Name" 
              placeholder="Test Name"
              [formControlName] = "'RName'"
              [ngModel]="RModName" />
              {{RModName}}
              <small id="" class="form-text text-muted">Please enter Test
                Name</small>
              <small id="" class="form-text text-muted">Should not be Allow
                Special
                Charcters</small>
            </div>
          </div>

          <div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="Description">Description</label>
              <div class="col-sm-10">
                <textarea rows="3" maxlength="50" placeholder="Description" class="form-control" id="Description"
                  name="Description" placeholder="Description" required></textarea>
                <small id="" class="form-text text-muted">Please
                  enter
                  comments</small>
                <small id="" class="form-text text-muted">Comment
                  should be more than 50 Charcters</small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="Relavant">Is it Relavant to Earlier Issue ? </label>
              <div class="col-sm-10">
                <div class="form-check-inline radio" *ngFor="let item of Relavants">
                  <input class="form-check-input radio" [value]="item.ID" type="radio" id="Relavant{{item.ID}}"
                    name="Relavant" ngModel required>
                  <label class="form-check-label" for="Relavant{{item.ID}}">
                    {{item.Name}}
                  </label>
                </div>
              </div>
            </div>

          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Developers">Developer</label>
            <div class="col-sm-10">
              <select name="Developer" class="form-control">
                <!-- <option  placeholder="Please enter Developer" selected>Select Developer</option> -->
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Developers"> {{item.Name}} </option>
              </select>
              <small id="" class="form-text text-muted">Please enter
                Developer Name</small>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Tester">Raised By</label>
            <!-- [(ngModel)]="modTester" -->
            <div class="col-sm-10">
              <select name="Tester" class="form-control">
                <!-- <option selected>Select Tester</option> -->
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Tester"> {{item.Name}} </option>
              </select>
              <small id="" class="form-text text-muted">Please enter
                Tester Name</small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Reporter">Reported To</label>
            <div class="col-sm-10">
              <select name="Reporter" class="form-control">
                <option [value]="item.Id" *ngFor="let item of TeamList" id="Reporter"> {{item.Name}} </option>
              </select>
              <small id="" class="form-text text-muted">Please enter
                Reporter Name</small>
            </div>
          </div>
          <!--  -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Logged Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control">
              <small id="" class="form-text text-muted">Please enter
                Logged Date</small>

            </div>
          </div>


          <!-- *ngIf="modClosedDate.touched && modClosedDate.invalid" -->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Closed Date</label>
            <div class="col-sm-10">
              <input type="date" class="form-control">
              <small id="" class="form-text text-muted">Please enter
                Closed Date</small>
              <small id="" class="form-text text-muted">Closed Date
                Should
                be greater than Logged Date</small>


            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Log">Close with Comments</label>
            <div class="col-sm-10">
              <textarea placeholder="Enter Comment how it was resolve" rows="3" minlength="15"
                class="form-control"></textarea>
              <small id="" class="form-text text-muted">Please enter
                Comments </small>
              <small id="" class="form-text text-muted">Comments Should
                be
                more than 50 Charcters</small>

            </div>
          </div>


          <div class="form-group row">
            <div class="col-3">
              <input type="button" (click)="evtDefault()" class="form-control btn-primary" value="Default" />
            </div>
            <div class="col-3">
              <button type="submit" class="form-control btn-primary">Submit</button>
            </div>
            <div class="col-3">
              <input type="button" class="form-control btn-primary" (click)="evtReset()" value="Reset">
            </div>

          </div>



        </form>
      </div>
    </div>

     <div>
         
     </div>
  

  </div>

</div>