<div class="container">
    <h4>
        Members List
    </h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    Standard
                </td>
                <th>
                    Gender
                </th>
                <th>
                    Teachers
                </th>
                <th>
                    Students
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of Classmembers ; let Index = index">
                <td>
                    {{member.Standard}}
                </td>
                <td>
                    {{member.Gender}}
                </td>
                <td>
                    <a (click)="evtMember(member, 'Teacher')">{{member.Teacher}}</a>
                    <!-- This step navigates to http://localhost:4205/ with out passing anything -->
                </td>
                <td>
                    <a (click)="evtMember(member, 'Student')">{{member.Student}}</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Whenever i comment this in runtime i am getting below error -->
    <!-- Cannot match any routes. URL Segment: 'Main/Details/3/members%3Fmem%3D%257B%2522Gender%2522:%2522Male%252FBoy%2522,%2522Role%2522:%2522Teacher%2522%257D/members'
Error: Cannot match any routes. URL Segment:  -->
</div>
<router-outlet></router-outlet>