<div class="container" style="background-color: chocolate;">
    <div>
        <label>Order details Component</label>
    </div>
    <form>
        <div class="form-group">
            <input type="text" name="CustomerName" class="form-control" placeholder="Customer Name"
                [(ngModel)]="CustomerName">
            <p *ngIf="OrderCustomerName" style="font-weight: bold;">
                Customer Name from OrdersComponent is - {{OrderCustomerName}}</p>
        </div>
        <div class="form-group">
            <label>Suggest Names:Madan, Sudheer, Suresh</label>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Get ContactPersons" 
            (click)="evtGetOrdersDetails(CustomerName)">
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CustomerName </th>
                        <th>Product Name</th>
                        <th>OrderID</th>
                        <th>ContactPerson</th>
                        <th>CompanyName</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of OrderDetails">
                        <td>
                            {{item.CustomerName}}
                        </td>
                        <td>
                            {{item.ProductName}}
                        </td>
                        <td>
                            {{item.OrderID}}
                        </td>
                        <td style="background-color: white;">
                            {{item.ContactPerson}}
                        </td>
                        <td style="background-color: white;">
                            {{item.CompanyName}}
                        </td>
                    </tr>
                    <tr *ngIf="OrderDetails.length == 0">
                        <td colspan="5"> Empty Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>